@use "../../adaptive" as *;

.mainLayout {
  display: grid;
  grid-template-rows: 85px max-content;
  // grid-template-columns: 1fr minmax(300px, auto) repeat(5, 1fr);
  height: calc(100vh - 85px);
  position: relative;
  height: 100%;

  @include xs {
    grid-template-columns: 1fr;
  }

  @include md {
    grid-template-columns: minmax(300px, max-content) repeat(4, 1fr);
  }
  @include lg {
    grid-template-columns: 1fr minmax(300px, auto) repeat(6, 1fr);
  }
  @include xl {
    grid-template-columns: 1fr minmax(300px, auto) repeat(6, 1fr);
  }
}
